################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.dbmdl
*.jfm
/.vs

/src/Assets/Assets.Model/obj
/src/Assets/Assets.Model/bin

/src/Assets/Assets.Resource/obj
/src/Assets/Assets.Resource/bin

/src/Assets/Assets.Utility/obj
/src/Assets/Assets.Utility/bin

/src/Core/Core.Application/obj
/src/Core/Core.Application/bin

/src/Core/Core.Domain/obj
/src/Core/Core.Domain/bin

/src/Database/Database.MsSql/obj
/src/Database/Database.MsSql/bin
/src/Database/Database.MsSql/Import Schema Logs

/src/Presentation/Presentation.WebApi/obj
/src/Presentation/Presentation.WebApi/bin
/src/Presentation/Presentation.WebApi/logs

/src/Test/Test.Common/obj
/src/Test/Test.Common/bin
