################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.dbmdl
*.jfm
/.vs

/Assets/Assets.Model/obj
/Assets/Assets.Model/bin

/Assets/Assets.Utility/obj
/Assets/Assets.Utility/bin

/Core/Core.Application/obj
/Core/Core.Application/bin

/Core/Core.Domain/obj
/Core/Core.Domain/bin

/Database/Database.MsSql/obj
/Database/Database.MsSql/bin

/Presentation/Presentation.WebApi/obj
/Presentation/Presentation.WebApi/bin
/Presentation/Presentation.WebApi/logs

/Test/Test.Common/obj
/Test/Test.Common/bin

/Database/Database.MsSql/bin
/Database/Database.MsSql/obj
/Database/Database.MsSql/Import Schema Logs

/Assets/Assets.Resource/obj
/Assets/Assets.Resource/bin
/src/Assets/Assets.Model/bin/Debug/netstandard2.1
/src/Assets/Assets.Model/bin/Debug/netstandard2.1
/src/Assets/Assets.Model/obj/Debug/netstandard2.1
/src/Assets/Assets.Resource/bin/Debug/netstandard2.1
/src/Assets/Assets.Resource/obj/Debug/netstandard2.1
