<section class="hero-clipBoardItems">
  <div class="row row-bg d-flex justify-content-center my-5">
    <div class="col-8 list-group">
      <div class="container-fluid">
        <p
          class="list-group-item list-group-item-action align-items-end mb-2 max-hight"
          *ngIf="!isActiveScroll"
        >
          {{ clipBoard.content }}
        </p>

        <p
          class="my-list-group list-group-item list-group-item-action align-items-end mb-2"
          *ngIf="isActiveScroll"
        >
          {{ clipBoard.content }}
        </p>
        <button
          class="btn btn-sm"
          type="button"
          [ngStyle]="{
            backgroundColor: violet
          }"
          style="color: aliceblue"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          title="Copy to ClipBoard"
          (click)="onClickCopyToClipBoard($event)"
        >
          <i class="fa fa-files-o" aria-hidden="true"></i>
        </button>

        <button
          class="btn btn-sm mx-1"
          type="button"
          [ngStyle]="{
            backgroundColor: pink
          }"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          title="Edit text"
          (click)="onClickEditClipBoard($event)"
        >
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        </button>

        <button
          class="btn btn-sm"
          type="button"
          [ngStyle]="{
            backgroundColor: lightPink
          }"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          title="Delete text"
          (click)="onClickDeleteClipBoard()"
        >
          <i class="fa fa-trash-o" aria-hidden="true"></i>
        </button>
      </div>
    </div>

    <!-- Perforation between Clipboards List-->
    <div class="perforation-line Perforation-max-width mt-5"></div>
  </div>
</section>
