.list-group-item:hover{
  cursor: pointer;
 }

.perforation-line {
  border-top:2px dashed #c0bdbd;
  max-width: 1024px;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.row{
  --bs-gutter-x:0rem
}

@media (max-width:500px) {

  .list-group-item{
  height: 200px !important;
}

}
