.my-list-group{
  max-height: 200px;
  margin-bottom: 10px;
  overflow:scroll;
  -webkit-overflow-scrolling: touch;
}
.max-hight{
  max-height: 200px;
}
.perforation-line {
  border-top:2px dashed #c0bdbd;
  max-width: 1024px;
}

.hero-clipBoardItems{
  top:300px;
  position: relative;
}

.row{
  --bs-gutter-x:0rem
}

