<section class="hero-clipBoardItems">
  <div class="row d-flex justify-content-center my-4">
    <div class="col col-sm-10 col-md-9 col-lg-8 list-group">
      <div class="container-fluid">
        <!-- clipboard Content -->
        <textarea
          class="list-group-item list-group-item-action mb-2"
          style="
            text-align: justify;
            text-indent: -57px;
            height: 42px;
            min-height: 42px;
            max-height: 250px;
          "
          readonly
          ngbTooltip="Copied to ClipBoard!"
          [autoClose]="true"
          triggers="manual"
          #t="ngbTooltip"
          [positionTarget]="ClipboardItemsCopyButton"
          placement="bottom"
          (dblclick)="onClickCopyToClipBoard($event); t.open()"
          *ngIf="!isBigContent"
        >
             {{ clipBoard.content }}
             </textarea
        >

        <!-- clipboard Content -->
        <textarea
          class="list-group-item list-group-item-action mb-2"
          style="
            text-align: justify;
            text-indent: -57px;
            height: 85px;
            min-height: 42px;
            max-height: 250px;
          "
          readonly
          ngbTooltip="Copied to ClipBoard!"
          [autoClose]="true"
          triggers="manual"
          #t="ngbTooltip"
          [positionTarget]="ClipboardItemsCopyButton"
          placement="bottom"
          (dblclick)="onClickCopyToClipBoard($event); t.open()"
          *ngIf="isBigContent"
        >
             {{ clipBoard.content }}
           </textarea
        >

        <!-- Clipboard Items Buttons -->
        <div class="row">
          <div class="d-flex gap-1">
            <!--copy button-->
            <button
              class="btn btn-sm"
              #ClipboardItemsCopyButton
              type="button"
              [ngStyle]="{
                backgroundColor: violet
              }"
              style="color: aliceblue"
              placement="bottom"
              ngbTooltip="Copy to ClipBoard"
              (click)="onClickCopyToClipBoard($event)"
            >
              <i class="fa fa-files-o" aria-hidden="true"></i>
            </button>

            <!--edit button-->
            <button
              class="btn btn-sm mx-1"
              #ClipboardItemsEditButton
              type="button"
              [ngStyle]="{
                backgroundColor: pink
              }"
              placement="bottom"
              ngbTooltip="Edit text"
              (click)="onClickEditClipBoard($event)"
            >
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </button>

            <!-- delete button -->
            <button
              class="btn btn-sm"
              #ClipboardItemsDeleteButton
              type="button"
              [ngStyle]="{
                backgroundColor: lightPink
              }"
              placement="bottom"
              ngbTooltip="Delete text"
              (click)="onClickDeleteClipBoard()"
            >
              <i class="fa fa-trash-o" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Perforation between Clipboards List-->
    <div class="perforation-line mt-4"></div>
  </div>
</section>
