<!-- Modal Forgot Password Form-->
<div class="dialog-forgotPassword">
  <form
    class="mt-4"
    #ForgotPasswordForm="ngForm"
    (ngSubmit)="
      onForgotPassword(ForgotPasswordForm); closeForgotPassworddialog()
    "
  >
    <div mat-dialog-content>
      <div class="d-flex justify-content-center align-items-center mb-5">
        <h5>Forgot Passwotd?</h5>
      </div>

      <div class="modal-body mx-5">
        <span id="modalForgotPassword">
          Enter your e-mail address below to reset your password. An email will
          be sent to you with a verification code.
        </span>
        <fieldset>
          <div class="input-group my-1">
            <input
              type="email"
              id="emailInput"
              class="form-control"
              name="emailInput"
              placeholder="Enter Email"
              required
              [ngbTooltip]="minLenghtMessage"
              minlength="3"
              email
              (keydown.enter)="onForgotPassword(ForgotPasswordForm)"
              ngModel
            />
            <span
              class="input-group-text"
              [ngStyle]="{ backgroundColor: green }"
            >
              <i class="fa fa-envelope" aria-hidden="true"></i>
            </span>
          </div>
        </fieldset>
      </div>
      <div
        mat-dialog-actions
        mat-dialog-close
        class="d-flex justify-content-center mt-4 mb-2"
      >
        <button type="button" class="btn btn-secondary mx-1">Close</button>

        <button
          type="submit"
          class="btn"
          [ngStyle]="{
            backgroundColor: violet
          }"
          style="color: aliceblue"
        >
          Submit
        </button>
      </div>
    </div>
  </form>
</div>
