<!-- Modal Forgot Password Form-->

<div class="dialog-forgotPassword">
  <form
    id="forgotDialogId"
    class="mt-4"
    #ForgotPasswordForm="ngForm"
    (ngSubmit)="onForgotPassword(ForgotPasswordForm)"
  >
    <div mat-dialog-content>
      <div class="d-flex justify-content-center align-items-center mb-3">
        <h5>Forgot Passwotd?</h5>
      </div>

      <div class="modal-body mx-5">
        <p id="modalForgotPassword" class="mb-3">
          Enter your e-mail address below to reset your password. An email will
          be sent.
        </p>
        <fieldset>
          <div class="input-group my-1">
            <input
              type="email"
              id="emailInput"
              class="form-control"
              name="emailInput"
              placeholder="Enter Email"
              required
              [ngbTooltip]="minLenghtMessage"
              minlength="3"
              email
              (keydown.enter)="onForgotPassword(ForgotPasswordForm)"
              ngModel
            />
            <span
              class="input-group-text"
              [ngStyle]="{ backgroundColor: green }"
            >
              <i class="fa fa-envelope" aria-hidden="true"></i>
            </span>
          </div>
        </fieldset>
      </div>
      <div class="row mt-4 mb-1" align="center">
        <div class="col">
          <button type="button" class="btn btn-secondary mx-2" mat-dialog-close>
            Close
          </button>

          <button
            type="submit"
            class="btn"
            [ngStyle]="{
              backgroundColor: violet
            }"
            style="color: aliceblue"
          >
            Submit
          </button>
        </div>
      </div>
    </div>
  </form>
  <div
    id="dialogSpinner"
    *ngIf="isLoading"
    class="container d-flex justify-content-center align-items-center"
    style="
      position: fixed;
      top: 190px;
      border-radius: 12px;
      background-color: snow;
    "
  >
    <div class="row">
      <h6 class="col-6 d-flex justify-content-center align-items-center">
        Please wait
      </h6>
      <app-spinner class="col-2 back-drop" style="z-index: 1"> </app-spinner>
    </div>
  </div>
</div>
