<nav id="nav" class="navbar navbar-expand-lg fixed-top top-nav-collapse">
  <div class="container-fluid">
    <div class="row">
      <div class="col-2 mx-2">
        <img class="logo-brand" src="../../../assets/img/Logo/clipBoardy.png" />
      </div>
      <div class="col-8" [ngStyle]="{ color: violet }">
        <p class="navbar-bold">CLIPBOARDY</p>
      </div>
    </div>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse col-2 justify-content-end"
      id="navbarNav"
    >
      <ul class="navbar-nav align-items-lg-center">
        <li class="nav-item hover-underline-animation">
          <a class="nav-link nav-link-icon" href="javascript:void(0)">
            <span class="nav-link --text">Help</span>
          </a>
        </li>

        <li class="nav-item hover-underline-animation">
          <a
            class="nav-link nav-link-icon"
            href="#"
            (click)="scrollToContactUs($event)"
          >
            <span class="nav-link --text">Contact US</span>
          </a>
        </li>

        <!-- Sign In -->
        <li
          class="nav-item hover-underline-animation"
          *ngIf="(authService.isLoggedIn | async) === false"
        >
          <a
            class="nav-link nav-link-icon"
            type="button"
            (click)="openSignInDialog()"
          >
            <span class="nav-link --text">Sign in</span>
          </a>
        </li>

        <!-- Sign Out -->
        <li
          class="nav-item hover-underline-animation"
          *ngIf="(authService.isLoggedIn | async) === true"
        >
          <a class="nav-link nav-link-icon" type="button" (click)="onSignOut()">
            <span class="nav-link --text">Sign out</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- <app-modal></app-modal> -->
