
  .top-nav-collapse {
    background-color: transparent  !important;
    padding: 20px;
  }
  .headroom--not-top {
    background-color:#ffb7ff !important;
    padding: 2px;
    transition: all 450ms cubic-bezier(0.42, 0, 0.34, 0.64);

  }
  .h1{
   font-size:300%;
  }
