.navbar {
  --bs-navbar-padding-y: 0rem;
}

.hideNavbar {
  top: -102px;
  transition: all 450ms cubic-bezier(0.42, 0, 0.34, 0.64);
}
.showNavbar {
  transition: all 450ms cubic-bezier(0.42, 0, 0.34, 0.64);
}
.top-nav-collapse {
  background-color: transparent !important;
}
.headroomNoTop {
  // background-color: #fffaff !important;
  transition: all 450ms cubic-bezier(0.42, 0, 0.34, 0.64);
  padding-top: 3px;
}

.nav-item {
  font-weight: 500;
  text-align: right;
}

.navbar-bold {
  font-weight: 700;
  font-size: 250% !important;
  text-transform: uppercase;
  margin-top: 0.75rem;
}

.logoImgClass {
  height: 75px;
}

.form-check-input:checked {
  background-color: #ff4db2;
  border-color: #ff4db2;
}

@media screen and (min-width: 992px) {
  .hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #930086;
  }

  .hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #930086;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}

@media screen and (max-width: 600px) {
  .top-nav-collapse {
    background-color: transparent !important;
  }

  .container-fluid {
    padding: 3px !important;
    margin-right: 8px !important;
  }
  .headroomNoTop {
    //  background-color: #fffaff !important;
    //background-color: #741b74 !important;
    transition: all 450ms cubic-bezier(0.42, 0, 0.34, 0.64);
    padding-top: 3px;
  }
  .fixed-top {
    right: 5px !important;
  }
}

@media screen and (max-width: 499px) {
  .navbar-bold {
    font-weight: 700;
    font-size: 200% !important;
    text-transform: uppercase;
    margin-top: 0.75rem;
  }

  .logoImgClass {
    height: 65px;
  }
  .top-nav-collapse {
    background-color: #930086 !important;
  }
  .nav-link {
    color: #eae6f0 !important ;
  }
  .navbar-toggler {
    background-color: #eae6f0 !important ;
  }
  .darkModeIcon {
    background-color: #eae6f0;
    border-radius: 12px;
  }

  .fixed-top {
    right: 0px !important;
  }
}

@media screen and (max-width: 394px) {
  .navbar-bold {
    font-weight: 750;
    font-size: 100% !important;
    text-transform: uppercase;
    margin-top: 0.55rem;
  }
  .top-nav-collapse {
    background-color: #930086 !important;
  }

  .logoImgClass {
    height: 40px;
  }

  .container-fluid {
    padding: 3px !important;
  }
  .headroomNoTop {
    //background-color: #fffaff !important;
    transition: all 450ms cubic-bezier(0.42, 0, 0.34, 0.64);
    padding-top: 3px;
  }
  .nav-link {
    color: #eae6f0 !important ;
  }
  .navbar-toggler {
    background-color: #eae6f0 !important ;
  }
  .darkModeIcon {
    background-color: #eae6f0;
    border-radius: 12px;
  }
}
@media screen and (max-width: 394px) {
  .navbar {
    --bs-navbar-toggler-padding-x: 0 !important;
    --bs-navbar-toggler-padding-y: 0 !important;
  }

  .top-nav-collapse {
    background-color: #930086 !important;
  }
  .nav-link {
    color: #eae6f0 !important ;
  }
  .navbar-toggler {
    background-color: #eae6f0 !important ;
  }
  .darkModeIcon {
    background-color: #eae6f0;
    border-radius: 12px;
  }
}
