<nav class="navbar navbar-expand-lg fixed-top top-nav-collapse">
  <div class="container">
    <div
      class="collapse navbar-collapse d-flex justify-content-between"
      id="navbar"
    >
      <div class="navbar-collapse-header d-flex">
        <div class="row">
          <div class="col-3 collapse-brand">
            <img
              src="../../../assets/img/Logo/clipBoardy.png"
              style="height: 75px"
            />
          </div>
          <div
            class="col-8 collapse-brand align-self-center"
            [ngStyle]="{ color: violet }"
            style="font-family: Haettenschweiler"
          >
            <p class="h1">ClipBoardy</p>
          </div>

          <span></span>
          <span></span>
        </div>
      </div>
      <ul class="navbar-nav align-items-lg-center">
        <li class="nav-item">
          <a class="nav-link nav-link-icon" href="javascript:void(0)">
            <i class="fa fa-pinterest"></i>
            <span class="nav-link-inner--text d-lg-none">Pin</span>
          </a>
        </li>
        <li class="nav-item">
          <a
            [routerLink]="['/login']"
            class="nav-link nav-link-icon"
            href="javascript:void(0)"
          >
            <span class="nav-link --text">Sign in</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
