<div #ContactUs class="container">
  <mat-card class="contactUs-card">
    <mat-card-header>
      <div mat-card-avatar class="contactUs-image"></div>
      <mat-card-title>Contact Us</mat-card-title>
    </mat-card-header>
    <img
      mat-card-image
      src="../../../assets/img/theme/contactUS.png"
      alt="Contact US"
      style="max-width: 700px"
    />
    <br />
    <mat-card-content>
      <p>
        If you have any questions/problems or feedback, Just Send email for Us.
        We will respond within 24 hours.
      </p>
      <b> a.hashemi6977@gmail.com</b>
    </mat-card-content>
  </mat-card>
</div>
