<div class="hero">
  <div #ContactUs class="container">
    <mat-card class="contactUs-card mb-3">
      <mat-card-header>
        <!--         <div mat-card-avatar class="contactUs-image"></div>
        <mat-card-title>Contact Us</mat-card-title>
 -->
      </mat-card-header>
      <img
        id="ImgContactUS"
        mat-card-image
        alt="Contact US"
        src="assets/img/theme/contactUS.png"
        style="max-width: 700px; opacity: 0.6"
      />
      <br />
      <mat-card-content class="changetheme">
        <p>
          If you have any questions/problems or feedback, Just Send email for
          Us. We will respond within 24 hours.
        </p>
        <b class="d-flex justify-content-center"> a.hashemi6977@gmail.com</b>
      </mat-card-content>
    </mat-card>
  </div>
</div>
