<!-- Contact US  -->
<div id="contactUs" class="container">
  <div class="row">
    <div class="col-md-6 mb-5 mb-md-0">
      <div class="card card-lift--hover shadow border-0">
        <img src="./assets/img/theme/contactUS.png" class="card-img" />
      </div>
    </div>

    <div class="col-md-6 mb-5 mb-lg-0">
      <div class="card card-lift--hover shadow border-0">
        <h3 class="d-flex justify-content-center mt-5">Contact US</h3>
        <hr />
        <p
          class="d-flex justify-content-center p-3"
          style="font-size: large; color: gray"
        >
          If you have any questions/problems/feedback, You can Contact US.
        </p>
        <h4 class="d-flex justify-content-center mt-5">Support Email</h4>
        <p
          class="d-flex justify-content-center p-3"
          style="font-size: large; color: gray"
        >
          Send us an email for support. We will respond within 24 hours
        </p>
        <h4
          class="border border-5 d-flex justify-content-center p-5 mb-3"
          style="border-radius: 10px"
        >
          a.hashemi6977@gmail.com
        </h4>
      </div>
      <br />
    </div>
  </div>
</div>
