.dialog-addOrEditClipBoard {
  position: fixed !important;
  min-width: 400px;
  max-width: 450px;
  min-height: 361px;
  max-height: 350px;
  border-radius: 10px;
  background-color: #EAE6F0;

  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

.mdc-dialog__title {
  padding: 3px !important;
  margin: 0px !important;
  //margin-bottom: 20px !important;
  font-family: sans-serif !important;
}

.mdc-dialog__content {
  padding: 10px !important;
  margin-left: 20px !important;
  margin-right: 20px !important;
}
.mdc-dialog__actions {
  padding: 0px !important;
}

@media (max-width: 500px) {
  .dialog-addOrEditClipBoard {
    margin-top: 55px !important;
    position: fixed;
    min-width: 345px;
    max-width: 345px;
    //min-height: 390px;
    //max-height: 390px;
    border-radius: 10px !important;
    background-color: #EAE6F0;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .mdc-dialog__title {
    padding: 0px !important;
    margin: 0px !important;
    margin-bottom: 20px !important;
    font-family: sans-serif !important;
  }

  .mdc-dialog__content {
    padding: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .form-control {
    margin-left: 3px !important;
    width: 98% !important;
  }
}

@media (max-width: 350px) {
  .dialog-addOrEditClipBoard {
    min-height: 300px;
    margin-left: -5px;
    margin-top: 25px !important;
    position: fixed;
    min-width: 217px;
    border-radius: 10px !important;
    background-color: #EAE6F0;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #content {
    max-height: 200px !important;
    min-height: 200px !important;
  }

  .mdc-dialog__title {
    padding: 0px !important;
    margin: 0px !important;
//    margin-bottom: 20px !important;
    font-family: sans-serif !important;
  }

  .mdc-dialog__content {
    padding: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .form-control {
    margin-left: 3px !important;
    width: 98% !important;
  }
}

@media (max-width: 500px) and (orientation: landscape) {
  .dialog-addOrEditClipBoard {
    margin-top: 40px !important;
    position: fixed;
    min-width: 450px;
    min-height: 60px;
    border-radius: 10px !important;
    background-color: #EAE6F0;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #content {
    max-height: 30px !important;
    min-height: 30px !important;
  }
  #editedContent {
    max-height: 30px !important;
    min-height: 30px !important;
  }

  .mdc-dialog__title {
    padding: 0px !important;
    margin: 0px !important;
    margin-bottom: 20px !important;
    font-family: sans-serif !important;
  }

  .mdc-dialog__content {
    padding: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .form-control {
    margin-left: 3px !important;
    width: 98% !important;
  }
}

