.dialog-addOrEditClipBoard {
  position: fixed !important;
  min-width: 450px;
  max-width: 450px;
  min-height: 425px;
  max-height: 425px;
  background-color: snow;

  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

.mdc-dialog__title {
  padding: 3px !important;
  margin: 0px !important;
  margin-bottom: 20px !important;
  font-family: sans-serif !important;
}

.mdc-dialog__content {
  padding: 10px !important;
  margin-left: 20px !important;
  margin-right: 20px !important;
}

@media (max-width: 500px) {
  .dialog-addOrEditClipBoard {
    margin-top: 55px !important;
    position: fixed;
    min-width: 345px;
    max-width: 345px;
    min-height: 390px;
    max-height: 390px;
    border-radius: 10px !important;
    background-color: snow;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .mdc-dialog__title {
    padding: 0px !important;
    margin: 0px !important;
    margin-bottom: 20px !important;
    font-family: sans-serif !important;
  }

  .mdc-dialog__content {
    padding: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
}
