<!-- Add To ClipBoard -->
<div class="dialog-addOrEditClipBoard" style="z-index: 1" *ngIf="!isEditMode">
  <form #content="ngForm">
    <div
      class="container-fluid d-flex justify-content-center align-items-center mt-2"
    >
      <i
        class="fa fa-clipboard fa-2x mx-1"
        aria-hidden="true"
        [ngStyle]="{ color: pink }"
      >
      </i>
      <h2
        mat-dialog-title
        class="d-flex justify-content-center align-items-center"
      >
        Add to the Clipboard list
      </h2>
    </div>

    <div mat-dialog-content>
      <fieldset>
        <div>
          <textarea
            type="text"
            id="content"
            class="form-control modal-open"
            name="content"
            placeholder="Enter text to add the clipboard"
            style="max-height: 224px; min-height: 224px"
            (keydown.enter)="onAddClipBoardList(content)"
            ngModel
          ></textarea>
        </div>
      </fieldset>
    </div>
    <div mat-dialog-actions class="d-flex justify-content-center mb-2">
      <button mat-dialog-close class="btn btn-secondary mx-2">Close</button>

      <button
        type="submit"
        class="btn"
        #AddToClipboardButton
        [ngStyle]="{
          backgroundColor: violet
        }"
        style="color: aliceblue"
        mat-button
        mat-dialog-close
        (click)="onAddClipBoardList(content)"
        *ngIf="isBigWidth"
      >
        Add To Clipboard List
      </button>

      <button
        type="submit"
        class="btn"
        #AddToClipboardButton
        [ngStyle]="{
          backgroundColor: violet
        }"
        style="color: aliceblue"
        mat-button
        mat-dialog-close
        (click)="onAddClipBoardList(content)"
        *ngIf="!isBigWidth"
      >
        Add
      </button>
    </div>
  </form>
</div>

<!-- Edit ClipBoard -->
<div class="dialog-addOrEditClipBoard" style="z-index: 1" *ngIf="isEditMode">
  <form #editedContent="ngForm">
    <div
      class="container-fluid d-flex justify-content-center align-items-center mt-2"
    >
      <i
        class="fa fa-clipboard fa-2x mx-1"
        aria-hidden="true"
        [ngStyle]="{ color: pink }"
      >
      </i>
      <h4
        mat-dialog-title
        class="d-flex justify-content-center align-items-center"
      >
        Edit Text
      </h4>
    </div>

    <div mat-dialog-content>
      <fieldset>
        <div>
          <textarea
            type="text"
            id="editedContent"
            class="form-control modal-open"
            name="editedContent"
            style="max-height: 224px; min-height: 224px"
            (keydown.enter)="EditClipBoard(editedContent)"
            autoFocus
            [ngModel]="editedContentModel.content"
          ></textarea>
        </div>
      </fieldset>
    </div>
    <div mat-dialog-actions class="d-flex justify-content-center">
      <button mat-dialog-close class="btn btn-secondary mx-2">Close</button>

      <button
        type="submit"
        class="btn"
        #EditClipboardButton
        [ngStyle]="{
          backgroundColor: violet
        }"
        style="color: aliceblue"
        mat-button
        mat-dialog-close
        (click)="EditClipBoard(editedContent)"
        *ngIf="isBigWidth"
      >
        Edit
      </button>

      <button
        type="submit"
        class="btn"
        #AddToClipboardButton
        [ngStyle]="{
          backgroundColor: violet
        }"
        style="color: aliceblue"
        mat-button
        mat-dialog-close
        (click)="EditClipBoard(editedContent)"
        *ngIf="!isBigWidth"
      >
        Edit
      </button>
    </div>
  </form>
</div>
