<main>
  <!--Intro Section-->
  <section class="view intro-2">
    <div class="full-bg-img mask rgba-gradient">
      <div class="container flex-center">
        <div class="d-flex align-items-center content-height w-100">
          <div class="row flex-center pt-5 mt-3 w-100">
            <div class="col-md-6 text-center text-md-left mb-5">
              <div class="white-text">
                <h2
                  class="h1 h1-responsive font-bold wow fadeInLeft my-4"
                  data-wow-delay="0.3s"
                >
                  Sign up right now!
                </h2>
                <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s" />
                <h6 class="wow fadeInLeft" data-wow-delay="0.3s">
                  Copy stuff between your phone and PC Blazing Fast
                </h6>
                <br />
                <a
                  mdbBtn
                  color="white"
                  outline="true"
                  class="wow fadeInLeft waves-light"
                  data-wow-delay="0.3s"
                  mdbWavesEffect
                  >Learn more</a
                >
              </div>
            </div>
          </div>
        </div>
        <app-clipBoards></app-clipBoards>
      </div>
    </div>
  </section>

  <!--Main Navigation-->
  <!--
  <app-clipBoards></app-clipBoards>

  -->

  <app-sections></app-sections>
</main>
