<div class="container-fluid">
  <div class="row p-5">
    <div class="d-flex align-items-center">
      <div class="flex-shrink-0">
        <i
          class="fa fa-clipboard fa-2x"
          aria-hidden="false"
          style="color: blueviolet"
        >
        </i>
      </div>
      <div class="flex-grow-1 ms-3">
        <form #f="ngForm" (ngSubmit)="AddClipBoardList(f)">
          <fieldset>
            <div>
              <input
                type="text"
                id="inputClipBoard"
                class="form-control"
                name="inputClipBoard"
                placeholder="Enter Text To Move in Clip Board"
                ngModel
              />
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col-md-12">
      <app-clipBoard-item
        *ngFor="let clipBoardEl of clipBoards"
        [clipBoard]="clipBoardEl"
      >
      </app-clipBoard-item>
    </div>
  </div>
</div>
