<div class="list-group border border-2 p-2 mx-4 my-2">
  <div class="container-fluid">
    <div class="row d-flex justify-content-end my-1">
      <div class="col-1">
        <a class="btn btn-primary mx-1" [href]="onClickCopyClipBoard()">
          <i class="fa fa-copy" aria-hidden="true"></i>
        </a>

        <a class="btn btn-danger" [href]="onClickDeleteClipBoard()">
          <i class="fa fa-trash-o" aria-hidden="true"></i>
        </a>
      </div>
    </div>

    <a
      href="#"
      class="list-group-item list-group-item-action list-group-item-light"
    >
      {{ clipBoard.text }}
    </a>
  </div>
</div>
