<div class="row d-flex justify-content-center mx-5">
  <div class="col-md-8 col-xs-5 list-group border border-2 p-3 mx-4 my-4">
    <div class="container-fluid my-2">
      <p
        class="list-group-item list-group-item-action align-items-end max-hight"
        *ngIf="!isActiveScroll"
      >
        {{ clipBoard.text }}
      </p>

      <p
        class="my-list-group list-group-item list-group-item-action align-items-end"
        *ngIf="isActiveScroll"
      >
        {{ clipBoard.text }}
      </p>
      <button
        class="btn btn-sm"
        type="button"
        [ngStyle]="{
          backgroundColor: violet
        }"
        data-bs-toggle="tooltip"
        data-bs-placement="top"
        title="Copy to ClipBoard"
        (click)="onClickCopyToClipBoard($event)"
      >
        <i class="fa fa-copy" aria-hidden="true"></i>
      </button>

      <button
        class="btn btn-sm mx-1"
        type="button"
        [ngStyle]="{
          backgroundColor: pink
        }"
        data-bs-toggle="tooltip"
        data-bs-placement="top"
        title="Edit text"
        (click)="onClickEditClipBoard($event)"
      >
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
      </button>

      <button
        class="btn btn-sm"
        type="button"
        [ngStyle]="{
          backgroundColor: lightPink
        }"
        data-bs-toggle="tooltip"
        data-bs-placement="top"
        title="Delete text"
        (click)="onClickDeleteClipBoard()"
      >
        <i class="fa fa-trash-o" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>
<div class="perforation-line"></div>
