<section class="hero">
  <div class="container flex-center">
    <!-- search input -->
    <div class="row hero-search justify-content-center mb-3">
      <div class="col col-sm-10 col-md-9 col-lg-8 d-flex align-items-center">
        <div class="flex-grow-1">
          <form #searchQuery="ngForm">
            <fieldset>
              <div>
                <input
                  type="text"
                  id="searchQuery"
                  class="form-control"
                  name="searchQuery"
                  placeholder="Search in the clipboard list"
                  (ngModelChange)="onClipBoardSearchList(searchQuery)"
                  ngModel
                />
              </div>
            </fieldset>
          </form>
        </div>
        <div class="flex-shrink-0 ms-2">
          <i
            class="fa fa-search fa-2x"
            aria-hidden="true"
            [ngStyle]="{ color: violet }"
          >
          </i>
        </div>
      </div>
    </div>

    <!-- Button New clipboard -->
    <div class="row hero-newButton d-flex justify-content-center">
      <div
        #newButtonClipBoard
        name="newButtonClipBoard"
        class="gap-2 col col-sm-10 col-md-9 col-lg-8"
      >
        <button
          class="btn"
          [ngStyle]="{
            backgroundColor: violet
          }"
          style="color: aliceblue"
          type="button"
          mat-button
          (click)="openAddToClipBoardDialog()"
        >
          <i class="fa fa-plus-square mx-2" aria-hidden="true"></i>
          <span class="align-self-center">New</span>
        </button>
      </div>
    </div>

    <!-- Clipboard List Item-->
    <div class="marginTop-Items" infinite-scroll (scrolled)="onScrollDown()">
      <app-clipBoard-item
        *ngFor="let clipBoardEl of onClipBoardSearchList(searchQuery)"
        [clipBoard]="clipBoardEl"
      >
      </app-clipBoard-item>
      <app-spinner *ngIf="isLoading"></app-spinner>
    </div>
  </div>
</section>
