<div class="row">
  <div class="col-md-12">
    <div class="container-fluid">
      <!-- Clipboard List -->
      <div>
        <!--     *ngFor="let clipBoardEl of onClipBoardSerachList(searchInput)"
          [clipBoard]="clipBoardEl"

           <app-clipBoard-item> </app-clipBoard-item>
        -->
      </div>

      <div
        infiniteScroll
        [infiniteScrollDistance]="2"
        [infiniteScrollThrottle]="1000"
        (scrolled)="onScroll()"
      ></div>

      <app-spinner *ngIf="!finished"> </app-spinner>
    </div>
  </div>
</div>
