<!-- Modal SignUp Form-->
<div class="dialog-signUp">
  <div id="modalSignUpForm" aria-hidden="true">
    <form
      class="justify-content-center"
      #SignUpuserForm="ngForm"
      (ngSubmit)="onSignUpForm(SignUpuserForm); closeSignUpDialog()"
    >
      <div mat-dialog-content>
        <div class="d-flex justify-content-center align-items-center mt-2 mb-5">
          <h5>Register account</h5>
        </div>

        <fieldset class="mx-3">
          <!-- username -->
          <div class="input-group">
            <input
              type="text"
              id="usernameInput"
              class="form-control"
              name="usernameInput"
              placeholder="Username"
              required
              [ngbTooltip]="minLenghtMessage"
              minlength="3"
              ngModel
            />
            <span
              class="input-group-text"
              [ngStyle]="{ backgroundColor: green }"
            >
              <i class="fa fa-user" aria-hidden="true"></i>
            </span>
          </div>
          <!-- password -->
          <div class="input-group my-1">
            <input
              type="password"
              id="passwordInput"
              class="form-control"
              name="passwordInput"
              placeholder="Password"
              required
              [ngbTooltip]="minLenghtMessage"
              minlength="3"
              ngModel
            />
            <span
              class="input-group-text"
              [ngStyle]="{ backgroundColor: green }"
            >
              <i class="fa fa-lock" aria-hidden="true"></i>
            </span>
          </div>
          <!-- Confirmed password -->
          <div class="input-group">
            <input
              type="password"
              id="confirmPasswordInput"
              class="form-control"
              name="confirmPasswordInput"
              placeholder="Confirm Password"
              required
              [ngbTooltip]="minLenghtMessage"
              minlength="3"
              ngModel
              (keydown.enter)="
                onSignUpForm(SignUpuserForm); closeSignUpDialog()
              "
            />
            <span
              class="input-group-text"
              [ngStyle]="{ backgroundColor: green }"
            >
              <i class="fa fa-lock" aria-hidden="true"></i>
            </span>
          </div>
        </fieldset>
        <div
          mat-dialog-actions
          mat-dialog-close
          class="d-flex justify-content-center mt-3"
        >
          <button type="button" class="btn btn-secondary mx-1">Close</button>

          <button
            type="submit"
            class="btn"
            [ngStyle]="{
              backgroundColor: violet
            }"
            style="color: aliceblue"
          >
            Sign Up
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
