.dialog-signIn {
  position: fixed;
  min-width: 425px;
  max-width: 450px;
  min-height: 310px;
  max-height: 350px;
  border-radius: 15px;
  background-color: snow;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-check-input[type="checkbox"]:checked {
  background-color: #1ec8a3;
  border-color: #1ec8a3;
}

.dialog-overlay {
  //position: fixed;
  // top: 0;
  //left: 0;
  // width: 100%;
  // height: 100%;
  //background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  // z-index: 9999; /* Ensure the overlay appears above other content */
  // pointer-events: visibleStroke; /* Enable pointer events on the overlay */
}

@media (max-width: 500px) {
  .dialog-signIn {
    margin-top: 55px !important;
    position: fixed;
    min-width: 285px;
    max-width: 350px;
    min-height: 285px;
    max-height: 350px;
    border-radius: 10px !important;
    background-color: snow;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .mdc-dialog__title {
    padding: 0px !important;
    margin: 0px !important;
    margin-bottom: 20px !important;
    font-family: sans-serif !important;
  }

  .mdc-dialog__content {
    padding: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    overflow: hidden !important;
  }
}

@media (max-width: 300px) {
  .dialog-signIn {
    margin-top: 55px !important;
    position: fixed;
    min-width: 210px;
    max-width: 350px;
    min-height: 277px;
    max-height: 350px;
    border-radius: 10px !important;
    background-color: snow;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .mat-mdc-dialog-content {
    max-height: fit-content !important;
  }
  .row {
    margin-top: 5px !important;
  }
  .modal-body {
    margin-left: -11px !important;
    margin-right: -11px !important;
  }

  .mdc-dialog__title {
    padding: 0px !important;
    margin: 0px !important;
    margin-bottom: 20px !important;
    font-family: sans-serif !important;
  }

  .mdc-dialog__content {
    padding: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
}
