.dialog-signUp{
  position: fixed;
  min-width: 450px;
  max-width:450px ;
  min-height: 350px;
  max-height: 350px;
  background-color: snow;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
