<!-- Modal changePassword Form-->
<div class="dialog-changePassword">
  <div id="modalChangePasswordForm" aria-hidden="true">
    <form
      class="justify-content-center"
      #ChangePasswordUserForm="ngForm"
      (ngSubmit)="
        onChangePasswordForm(ChangePasswordUserForm);
        closeChangePasswordDialog()
      "
    >
      <div mat-dialog-content>
        <div
          id="changePasswordTitle"
          class="d-flex justify-content-center align-items-center mt-2 mb-3"
        >
          <h5>Change Password</h5>
        </div>
        <div class="modal-body">
          <fieldset class="mx-3">
            <!-- Old password -->
            <div class="input-group my-1">
              <input
                type="password"
                id="oldPasswordInput"
                class="form-control"
                name="oldPasswordInput"
                placeholder="Old Password"
                required
                [ngbTooltip]="minLenghtMessage"
                minlength="3"
                ngModel
              />
              <span
                class="input-group-text"
                [ngStyle]="{ backgroundColor: green }"
              >
                <i class="fa fa-lock" aria-hidden="true"></i>
              </span>
            </div>

            <!-- password -->
            <div class="input-group my-1">
              <input
                type="password"
                id="passwordInput"
                class="form-control"
                name="passwordInput"
                placeholder="Password"
                required
                [ngbTooltip]="minLenghtMessage"
                minlength="3"
                ngModel
              />
              <span
                class="input-group-text"
                [ngStyle]="{ backgroundColor: green }"
              >
                <i class="fa fa-lock" aria-hidden="true"></i>
              </span>
            </div>

            <!-- Confirmed password -->
            <div class="input-group">
              <input
                type="password"
                id="confirmPasswordInput"
                class="form-control"
                name="confirmPasswordInput"
                placeholder="Confirm Password"
                required
                [ngbTooltip]="minLenghtMessage"
                minlength="3"
                ngModel
                (keydown.enter)="
                  onChangePasswordForm(ChangePasswordUserForm);
                  closeChangePasswordDialog()
                "
              />
              <span
                class="input-group-text"
                [ngStyle]="{ backgroundColor: green }"
              >
                <i class="fa fa-lock" aria-hidden="true"></i>
              </span>
            </div>
          </fieldset>
        </div>
        <div class="row mt-4" align="center">
          <div class="col">
            <button
              id="closeButChangePass"
              type="button"
              class="btn btn-secondary mx-2"
              mat-dialog-close
            >
              Close
            </button>

            <button
              type="submit"
              class="btn"
              [ngStyle]="{
                backgroundColor: violet
              }"
              style="color: aliceblue"
            >
              Change password
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
